<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="customlisteners.MyListener"/>  <!-- ✅ Add this line -->
    </listeners>

    <test verbose="2" preserve-order="true" name="EmployeeProcessorTest">
        <classes>
            <class name="com.testLib.LoginTest"/>
            <class name="Java8.EmployeeProcessorTest"/>
        </classes>
    </test>
</suite>